# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
dist/
build/

# Credentials (sensible data)
credentials.txt
.env

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cache
.cache/